<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :par %><br />
    <%= f.text_field :par %>
  </p>
  <p>
    <%= f.label :tournament_tees %><br />
    <%= f.text_field :tournament_tees %>
  </p>
  <p>
    <%= f.label :palmer_tees %><br />
    <%= f.text_field :palmer_tees %>
  </p>
  <p>
    <%= f.label :white_tees %><br />
    <%= f.text_field :white_tees %>
  </p>
  <p>
    <%= f.label :forward_tees %><br />
    <%= f.text_field :forward_tees %>
  </p>
  <p>
    <%= f.label :handicap_mens %><br />
    <%= f.text_field :handicap_mens %>
  </p>
  <p>
    <%= f.label :handicap_womens %><br />
    <%= f.text_field :handicap_womens %>
  </p>
    <div class="clear"></div>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  
    
    <script type="text/javascript" src="/javascripts/wmd/wmd.js"></script>
    <div class="clear"></div>
    <div id="wmd-preview-wrapper"><div class="wmd-preview"></div></div>
    <div class="clear"></div>
  <p>
    <%= label_tag "Image" %><br>
    <%= f.file_field :image %>
  </p>
