%h1 Awards and Accolades
.awards
  = testimonial "#27, top 100 public or resort courses in Canada", "<b>Globe and Mail</b>"
  = testimonial "100 Best Golf Shops in North America ", "<b>Golf Shop Operations Magazine</b>"
  = testimonial "  #1 Golf Destination in Canada ", "<b>Golf Digest</b>"
  = testimonial "Top 20 Greatest Golf Destinations ", "<b>Golf Digest</b>"
  %br
  %h2 GROUP OUTING ACCOLADES
  = testimonial "This was the smoothest event we have ever had. No problems at all.", "<b>TOYOTA</b> (Pacific Northwest Owners Conference)"   
  = testimonial "The entire staff have always been exceptional. Many comments regarding condition & service. We are always treated very well. Thanks for all your help & patience.", "<b>MILLION DOLLAR HOLE-IN-ONE SHOOTOUT</b>"
  = testimonial "The event was superb thanks to you & your staff. We look forward to returning next year. Many thanks.", "<b>TEAM 1040 SPORT’S RADIO</b>"  
  = testimonial "Thanks so much for a wonderful two days of Golf. All the golfers had a great time on your course and they were all very pleased with the decision to keep the event in Whistler. You and your staff made me look like a pro!", "<b>SPRING SUMMIT GOLF/HOCKEY TOURNAMENT</b>"
  = testimonial "I wish all golf courses were like yours! Thanks for a great couple of days!", "<b>ADP</b> (hosted 6 consecutive incentive shotguns for North American sales leaders)"
  = testimonial "When you look at B.C. as a whole, there's so many different types of golf in this province. There's desert golf, mountain golf, ocean golf, city golf, we have it all.", "<b>Kent Gilchrist</b>, The Province"
  = testimonial "Let's see...world-class recreation and amenities, superb weather, gracious Canadian hospitality, astonishing beautiful scenery, plus and eye-popping monetary exchange rate... <br> Sounds like hedonism just found itself a new zip code.", "<b>Chris Duthie</b>, Tycoon Magazine	"
  = testimonial "Just another typical day in Whistler, one of the few places in North America where outdoor recreation and unbridled wilderness come so closely together. <br><br> ...beginning around early May and extending well into the fall, Whistler's four superb golf courses take center stage.", "<b>Golf Magazine</b>"
  = testimonial "The trip from Vancouver...showcased some of British Columbia's most breathtaking coastal and mountain scenery.", "<b>Jamie Parcells</b>, Association Director	"
  = testimonial "...discovering Whistler is a rebirth allowing Nature's soul to reunite with my soul. This is God's country. <br> ...you name it, Whistler has it. <br> For summer outdoor recreation, you can't beat Whistler.", "<b>Dan Poppers</b>, Golf News "
  = testimonial "There are great destination golf vacations all over the world, yet few offer the sheer beauty and variety of the championship courses at Whistler.", "<b>Guy Generaux</b>, The Journals 	"
  = testimonial "Whistler, BC. a global mecca for anyone who likes to play outdoors.", "<b>Doug Whittall</b>, Toronto Star "
  = testimonial "Whistler is the perfect summer playground.","<b>Sue Frause</b>, The Herald - WA 	"
  = testimonial "It's pristine, the properties are beautiful, the golf is great, and everyone's happy.", "<b>Stephanie Levin-Gervasi</b>, Meetings in the West "
  = testimonial "The wild enchantment of British Columbia is just at Whistler's edge.", "<b>Timothy Egan</b>,The New York Times "