= f.error_messages
%p
  = f.label :first_name
  = f.text_field :first_name
%p
  = f.label :last_name
  = f.text_field :last_name
%p
  = f.label :street_address
  = f.text_field :street_address
%p
  = f.label :city
  = f.text_field :city
%p
  = f.label :province
  = f.text_field :province
%p
  = f.label :postal_code
  = f.text_field :postal_code
%p
  = f.label :telephone
  = f.text_field :telephone
%p
  = f.label :email
  = f.text_field :email
%p
  = f.label :comments
  = f.text_area :comments
