%h1 GOLF SHOP

%p We are not your typical golf shop. Ranked as “One of North America’s 100 Best Golf Shops” by Golf World Business Magazine, the Whistler Golf Club’s 2000 square foot Golf Shop is fully-equipped with the latest golf equipment and apparel. But there is more! Our shop has great lifestyle lines like Lole for women and Quiksilver for men. Our shop is quickly become known as one of the best clothing shops in Whistler.
=testimonial "100 Best Golf Shops in North America.", 'Golf Shop Operations Magazine'
%br 
/ %pre.fpo PHOTO of shop or brand photo?
.column.span-5
  %h3 EXCLUSIVE RETAILER OF NIKE GOLF IN WHISTLER!
  %p Interested in wearing or playing what the best golfers in the world wear and play? The Whistler Golf Club is the exclusive retailer of Nike Golf in Whistler.

  %h3 NOT ONE GOLF SHOP BUT TWO!
  %p The Whistler Golf Club also boasts a golf shop at our Learning and Performance Centre. This shop focuses on all your golf club needs including custom fitting from Nike, club repair and regripping and of course the latest in golf equipment for all levels of golfer.


#shop.column.span-5
  <object width="400" height="250"><param name="movie" value="http://www.youtube.com/v/_mJCo2mEl7k?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/_mJCo2mEl7k?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="400" height="250"></embed></object>
  
/  %script{ :type => "text/javascript" }
/    var flashvars = {};
/    var params = {wmode: 'opaque'};
/    var attributes = {};

/    swfobject.embedSWF("/300x250RichMediafiles/300x250Video.swf", "shop", "300", "250", "9.0.0","/flash/swfobject/expressInstall.swf", flashvars, params, attributes);
  


.clear
%br
#logos
  = logo_link :sunice, "sunice.com"
  = logo_link :nike_golf, "nikegolf.ca"
  .clear
  = logo_link :aur, "aurgolf.com"
  = logo_link :lole, "lolewomen.com"
  = logo_link :adidas, "adidasgolf.com"
  = logo_link :quicksilver, "quiksilveredition.com"



%h4 Summer Hours 
%p The Golf Shop is open from 7 AM - 10 PM throughout the golfing season until October. and from 9am to 5pm in the winter.

%h4 Location 
%p We are located at 4001 Whistler Way, Whistler, British Columbia, V0N 1B4. There is plenty of free parking in the front. See our <a href="/course/directions">Directions page</a> for specific routes.
%br 
%br 
%h1 WHISTLER GOLF CLUB GIFT CARDS
=testimonial "Give the Gift of Golf", ''
%p Whistler Golf Club gift cards can be purchased in any denomination and can be redeemed for green fees, cart rental, lessons, logo wear, equipment and more. Our gift cards can be used multiple times until the card value has been exceeded and can be reloaded to the value of your choice. Our gift cards take away the pressure of buying for that golfer who has everything.
%p Gift cards can be purchased over the phone and mailed to you directly or in the golf shop. To purchase your gift card call 1-800-376-1777.  
  