  <%= f.error_messages %>

  <p>
    <%= f.label :participant_name, "Participant Name" %>
    <%= f.text_field :participant_name %>
  </p>
  <p>
    <%= f.label :parent_name, "Parent / Guardian Name (if applicable)" %>
    <%= f.text_field :parent_name %>
  </p>
  <p>
    <%= f.label :student_age, "Student Age" %>
    <%= f.text_field :student_age %>
  </p>
  <p>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :province_state, "Province/State" %>
    <%= f.text_field :province_state %>
  </p>
  <p>
    <%= f.label :country %>
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :lesson, "Lesson?" %>
    <%= f.check_box :lesson %>
  </p>
    <div class="clear"></div>
  <p>
    <%= f.label :preferred_day %>
    <%= f.text_field :preferred_day %>
  </p>
  <p>
    <%= f.label :preferred_time %>
    <%= f.text_field :preferred_time %>
  </p>
  <p>
    <%= f.label :clinic_number, "Clinic #" %>
    <%= f.text_field :clinic_number %>
  </p>
  <p>
    <%= f.label :golf_school_number, "Golf School #" %>
    <%= f.text_field :golf_school_number %>
  </p>
  <div class="clear"></div>

